enable-pre-post-scripts=true
node-linker=hoisted
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true
save-workspace-protocol=rolling
save-prefix=''
frozen-lockfile=false
prefer-frozen-lockfile=false
ignore-scripts=true 